/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
.about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
